Checks: >
  -*,
  bugprone-*,
  cert-dcl03-c,
  cert-dcl16-c,
  cert-err33-c,
  cert-err34-c,
  cert-err58-cpp,
  cert-msc50-cpp,
  cert-msc51-cpp,
  cert-pos44-c,
  clang-analyzer-*,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-pro-type-static-cast-downcast,
  performance-*,
  portability-simd-intrinsics,
  readability-delete-null-pointer,
  readability-misleading-indentation,
  readability-qualified-auto,
  readability-use-anyofallof,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-reserved-identifier,
  -bugprone-sizeof-expression,
  -bugprone-undefined-memory-manipulation,
  -clang-analyzer-fuchsia.*,
  -clang-analyzer-mpi.*,
  -clang-analyzer-optin.mpi.*,
  -clang-analyzer-optin.osx.*,
  -clang-analyzer-osx.*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-webkit.*,
  -performance-enum-size,
  -performance-no-int-to-ptr
FormatStyle: none
HeaderFilterRegex: '^(include|src|test)/'
WarningsAsErrors: '*'
