bin/
cache/
entanglement_example/entanglement_example.py
entanglement_example/libentanglement_py_template.so.1
entanglement_example/__pycache__/entanglement_test.cpython-312.pyc
entanglement_example/__pycache__/entanglement_example.cpython-312.pyc
entanglement_example/entanglement_example.egg-info/dependency_links.txt
entanglement_example/entanglement_example.egg-info/PKG-INFO
entanglement_example/entanglement_example.egg-info/SOURCES.txt
entanglement_example/entanglement_example.egg-info/top_level.txt
